body {
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    background: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

header {
width: 100%;
height: 60px;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header nav .nav-Seccion_Derecha {
width: 250px;
height: auto;
display: flex;
list-style: none;
justify-content: center;
align-items: center;
}

nav .nav-Seccion_Derecha a{
    margin-right: 25px;
    color: black;
}

.Icono_Apps{
        background-image: url('https://raw.githubusercontent.com/FcoGlez97/GugulClon/main/GugulClon/Resources/Apps.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 26px;
        height: 26px;
    }
.Icono_Usuario{
        background-image: url('https://raw.githubusercontent.com/FcoGlez97/GugulClon/main/GugulClon/Resources/User.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 26px;
        height: 26px;
    }
main{
    margin-top: 150px;
    text-align: center;
}

main .Logo_GugulClon{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .Logo_GugulClon img{
    width: 330px;
    height: 120px;
}

main .Ingresa_Busqueda{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-input-container{
    width: 525px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .Ingresa_Busqueda input{
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
}

main .main-input-container:hover{
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}

main .Ingresa_Busqueda .Icono_Busqueda{
    background-image: url('https://raw.githubusercontent.com/FcoGlez97/GugulClon/main/GugulClon/Resources/Search.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;

}

main .Ingresa_Busqueda .Icono_Microfono{
    background-image: url('https://raw.githubusercontent.com/FcoGlez97/GugulClon/main/GugulClon/Resources/Mic.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

main .Ingresa_Busqueda .Icono_Lens{
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;

}

main .Ingresa_Busqueda .Icono_Lens{
    background-image: url('https://raw.githubusercontent.com/FcoGlez97/GugulClon/main/GugulClon/Resources/Lens.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    cursor: pointer;
}